[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=reddit-indicator
Comment=A panel indicator for viewing the latest Reddit News feed.
Exec=/usr/bin/reddit
Icon=reddit.png
Terminal=false
